<div class="container-fuild border" style="border:2px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" >
  <div class="row">
    <!--pull-right not working-->
    <div class="col-2 offset-2 border"> <!--SafeWay Icon-->
      <a href="#"><img class="img-responsive" src="../assets/images/header_logo_safeway.png" alt="Max-width 100%" /> </a>
    </div>
    <div class="col-4"> 
      <div class="d-flex flex-row border justify-content-area align-items-center  h-60"> <!-- Delivery | Rewards | My List-->
          <div class="p-1 border">
          <a href="#"><img class="img-responsive" src="../assets/images/header_grocerydeliveryicon.png" size="80%" alt="delivery" /> <span style="color: #52483d; font-weight: bold"> Delivery</span></a>
          </div>
        <div class="p-1 border ">
         <a href="#" ><img class="img-responsive" src="../assets/images/gray_giftbox.png" /> 
            <span style="color: #52483d; font-weight: bold"> Rewards</span> 
          </a>
        </div>
        <div class="p-1 border">  
            <a href="#"><img  src="../assets/images/header_mylisticon.png" /> 
                  <span style="color: #52483d; font-weight: bold"> My List</span>  
            </a> 
        </div>
      </div>
      <div class="row"> {{address}} <!-- Adddress-->
      </div>
      <div class="row"> <!-- Change my Store | Store Locator-->
        <a href="#" >
          <img class="img-responsive" src="../assets/images/header_mystoreicon.png" />
          <span style="color: #52483d; font-weight: bold"> Change My Store</span>  
        </a>
        |
        <a href="#">
            <span style="color: #52483d; font-weight: bold">Store Locator </span>  
        </a>
      </div>
    </div>
    <div class="col-2 border">
      <div class="row"> <!--Welcome -->
        <span class = "d-inline text-truncate " style="color:grey; font-size:12px font-" >Welcome, {{name}} </span>
      </div>
      <div class="row"> <!--Sign In ... -->
      <span class="p-1"> <a href="#">Sign In </a> </span>
        |
        <span class="p-1">   <a href="#">Register </a> </span>
      </div>
    </div> 
  </div>

  </div>



  